@page
@model SuperMercadoNetoOnLine.Pages.ProdutoCRUD.IndexModel

@{
    ViewData["Title"] = "Listagem de Produtos";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create" class="btn btn-primary btn-lg">Novo Produto</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Produto[0].Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Produto[0].Descricao)</th>
            <th>@Html.DisplayNameFor(model => model.Produto[0].Preco)</th>
            <th>@Html.DisplayNameFor(model => model.Produto[0].Estoque)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Produto)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                <td>@Html.DisplayFor(modelItem => item.Estoque)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdProduto" class="btn btn-primary btn-sm">Alterar</a>
                    <a asp-page="./Details" asp-route-id="@item.IdProduto" class="btn btn-info btn-sm">Detalhes</a>
                    <a asp-page="./Delete" asp-route-id="@item.IdProduto" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
