@page
@model SuperMercadoNetoOnLine.Pages.ProdutoCRUD.ListarModel

@{
    ViewData["Title"] = "Listagem de Produtos";
}

<header class="container p-3">
    <div class="row align-items-center">
        <div class="col-sm-6"> <h2>@ViewData["Title"]</h2> </div>
        <div class="col-sm-6 text-right"><a asp-page="Incluir" class="btn btn-info"></a></div>
    </div>
</header>



@if (Model.Produto.Count > 0)
{
    <main class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Produto[0].IdProduto)</th>
                    <th>@Html.DisplayNameFor(model => model.Produto[0].Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.Produto[0].Preco)</th>
                    <th>@Html.DisplayNameFor(model => model.Produto[0].Estoque)</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Produto)
                {
                    <tr class="@(item.Estoque > 0 ? "" : "bg-info")">
                        <td>@Html.DisplayFor(modelItem => item.IdProduto)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                        <td class="d-none d-lg-table-cell">@Html.DisplayFor(modelItem => item.Estoque)</td>

                        <td class="text-center">
                            <a class="btn btn-primary btn-sm" asp-page="./Alterar" asp-route-id="@item.IdProduto">Alterar</a>
                            <form class="d-inline-block" asp-page-handler="delete" asp-route-id="@item.IdProduto" method="post">
                                <button class="btn btn-danger btn-sm" onclick="confirmarExclusao(this);">
                                    Excluir
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
}
else
{
    <h2>Não há produtos cadastrados.</h2>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_CustomConfirm");
    }
    }