@page
@model IndexModel
@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">

    <h1 class="display-4">Bem-Vindo ao Super Online</h1>
    <p>Este é um catálogo de produtos criado com ASPNETCORE com C# e Razor Pages :: Visual Studio 2022.</p>
</div>

<div class="row">

    @if (Model.Produtos.Count > 0)
    {
        @foreach (var produto in Model.Produtos)
        {                     // (col-sm-*)multiplo ou divisor de 12
            <div class="col-sm-4">
                <div class="card text-center bg-light mb-4">
                    <img class="card-img-top" src="/img/produto/@String.Concat(produto.IdProduto.ToString("D6"),".jpg")" alt="Imagem de @produto.Nome">
                    <div class="card-header">
                        R$ @produto.Preco.Value.ToString("F2")
                    </div>
                    <div class="card-body" style="height:124px;">
                        <h5 class="card-title">@produto.Nome</h5>
                        <p class="card-text">@produto.Descricao</p>
                    </div>
                    <div class="card-footer">
                        <div><a href="#" class="btn btn-primary">Adicionar ao Carrinho</a></div>
                        <small class="text-muted">Estoque: @produto.Estoque</small>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        if (Request.QueryString.HasValue)
        {
            <div class="col-12">
                <h1>Sua busca por <b>@Request.Query["termoBusca"]</b> não obteve resultados.</h1>
            </div>
        }
        else
        {
            <div class="col-12">
                <h1>Não há produtos cadastrados.</h1>
            </div>
        }
    }
</div>
